.aside-list
{
    font-size: 40px;
    margin-top: 15px;
    list-style: none;
    padding-left: 1;
    background-color: #15b4b4;
    width: 100%;
    height: 100%;
    border: 10px solid white;
    padding: 20px 35px;
}
.aside-list__item
{
    display: block;
}
.aside-list__item a
{
    color: white;
    padding: 5px;
    text-decoration: none;
}
.aside-list__item a:hover
{
    color:blue;
}
.aside-list__item a:active
{
    color: rgb(55, 55, 230);
}
