.header-nav
{
    font-size: 40px;
    margin-top: 15px;
    list-style: none;
    padding-left: 1;
    background-color: #15b4b4;
    width: 100%;
    height: 50%;
    border: 10px solid white;
    padding: 20px 35px;
}
.header-nav__item
{
    display: inline-block;
}
.header-nav__item a
{
    color: white;
    padding: 5px;
    text-decoration: none;
}
.header-nav__item a:hover
{
    color:blue;
}
.header-nav__item a:active
{
    color: rgb(55, 55, 230);
}
.header-nav a::after
{
    content: "    |    ";
}